{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block login %}
    <h1>Login</h1>

    <form action= "{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.phone.label }} {{ form.phone(size=10) }}
        {{ form.password.label }} {{ form.password(size=20) }}
        <input type="submit" value="LogIn">
    </form>
{% endblock %}
{% block signup %}
    <h1>Register</h1>

    <form action= "{{ url_for('register') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(size=80) }}
        {{ form.phone.label }} {{ form.phone(size=10) }}
        {{ form.email.label }} {{ form.email(size=20) }}
        {{ form.password.label }} {{ form.password(size=20) }}
        <input type="submit" value="Register">
    </form>
{% endblock %}
