{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block login %}
    <h1>Login</h1>

<div id="signin">
    <form action= "{{ url_for('login') }}" method="POST">
        {{ logform.hidden_tag() }}
        <p>
            {{ logform.phone.label }}<br>
            {{ logform.phone(size=20) }}
            {% for error in logform.phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ logform.password.label }}<br>
            {{ logform.password(size=20) }}
            {% for error in logform.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ logform.remember_me() }} {{ logform.remember_me.label }}</p>
        <p>{{ logform.submit() }}</p>
    </form>
</div>
{% endblock %}
{% block signup %}
    <h1>Register</h1>
<div id="signup">
    <form action= "{{ url_for('register') }}" method="POST">
        <p>
            {{ regform.hidden_tag() }}
            {{ regform.type.label }} {{ regform.type }}<br>
            {{ regform.name.label }} {{ regform.name(size=50) }}<br>
            {{ regform.phone.label }} {{ regform.phone(size=10) }}<br>
            {{ regform.email.label }} {{ regform.email(size=20) }}<br>
            {{ regform.password.label }} {{ regform.password(size=20) }}
        </p>
        <p>{{ regform.submit() }}</p>
    </form>
</div>
{% endblock %}
