{% extends "layout.html" %}
<!--TODO Make two different configs for business and private -->
{% block main %}
    <h1>Hello, {{name}}</h1>
{% if type %}
    <p>***Business account*** </p>
{% else %}
    <p>***Personal account*** </p>
{% endif %}
Money in the wallet: {{ money }}<br>
{% block transact %}
<form action="{{url_for('user_dashboard')}}" method="POST">
    {{ transactform.hidden_tag() }}
    {{ transactform.add.label }} {{ transactform.add }} {{ transactform.addbutton() }}<br>
    {{ transactform.pay.label }} {{ transactform.pay }} {{ transactform.payee.label }} {{ transactform.payee }} {{ transactform.paybutton() }}<br>
    {{ transactform.receive.label }} {{ transactform.receive }} {{ transactform.receivebutton() }}<br>
</form>
{% endblock %}
<h2>History</h2>
{% block history %}
    <form action="{{url_for('user_dashboard')}}" method="POST">
        <input id="from" type="date" name="from">
        <input id="to" type="date" name="to">
        <button type="submit" name="filter" value="date">Filter By Date</button>

        <input id="search" type="text" name="search">
        <button type="submit" name="filter" value="string">Filter By Name</button>
    </form>
{% if TransactionsHistory %}
<ul id="transactionhistory">
{% for transactions in TransactionsHistory %}
        {% if transactions.paid.id == current_user_id %}
        <li> paid &#x20B9;{{transactions.amount}} to {{transactions.received.name}}</li>
        {% elif transactions.received.id == current_user_id %}
        <li>received &#x20B9;{{transactions.amount}} from {{transactions.received.name}}</li>
        {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% endblock %}